/* Desktop Styling*/
.App{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    display:grid;
    grid-template-areas: 
    "B S"
    "B N";
    grid-template-columns: 40% 1fr;
    gap: 5%;
    justify-items:center;
}

.Brand{
    font-size:140%;
    grid-area:B;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Brand img{
    max-width: 100%;
    width:80%;
    display: block;
}

.Signup{
    grid-area:S;
    width:100%;
    font-size:calc(12pt + 2vw);
}
.Signup form{
    width:100%;
}
.Signup input{
    display:block;
    width:90%;
}

.Nav{
    grid-area:N;
    font-variant: small-caps;
    font-size:1.5em;
}

 /* Overrides for Mobile Styling */
@media(max-width:575px)
{
    .App{
        grid-template-areas: 
        "B"
        "S"
        "N";
        grid-template-columns: auto;
    }
    .Brand{
        flex-direction:row-reverse;
        justify-content: flex-end;
    }
    .App img{
        width:15%;
        padding:3%;
    }
    .Signup{
        font-size:6vw;
    }
}
