#navlinks {
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
}

#navlinks a {
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    font-weight: normal;
}

#navlinks .active {
    color: black;
}